<%- if controller_name != 'sessions' %>
  <span>登録済みの方は</span>
  <%= link_to "こちら", new_session_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <span>新規登録は</span>
  <%= link_to "こちら", new_registration_path(resource_name) %><br />
<% end %>